@import "compass/reset";

//Sprites - http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
@import "spritesrc/*.png";
@include all-spritesrc-sprites;

* {
	box-sizing: border-box;
}

html,body {
	background-color:#000;
	height:100%;
}

@keyframes blink {
	0% {
		opacity:0;
	}
	48% {
		opacity:0;
	}
	51% {
		opacity:1;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes blink {
  0% {
		opacity:0;
	}
	48% {
		opacity:0;
	}
	51% {
		opacity:1;
	}
	100% {
		opacity:1;
	}
}

.container {
	display:block;
	width:100%;
	height:100%;
	background-image:url('../images/bg.jpg');
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	opacity:0;
	transition:opacity 1s ease-out;
	&.started {
		opacity:1;
		
	}
	
	&:after {
		transition:box-shadow 2s ease;
		box-shadow: inset 0 0 15em 6em #000000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
		content: "";
	}

	#about-note {
		visibility:hidden;
		cursor:pointer;
		top:50%;
		left:50%;
		opacity:0;
		transition:opacity .3s ease-out, margin-top .3s ease-out;
		margin-left:-200px;
		margin-top:-100px;
		width:400px;
		height:241px;

		position:absolute;
		z-index:20;
		background-size:100%;
		background-image:url('../images/about.png');
		&.show {
			visibility:visible;
			opacity:1;
			margin-top:-120px;
		}
	}


	.poster {
		position:absolute;

		display:block;
		width:330px;
		height:500px;
		background-size:100%;
		background-repeat:no-repeat;
		box-shadow:0px 0px 2px 2px rgba(0,0,0,1);
		filter: blur(10px);
		z-index:0;

		
		&.left {
			transform: rotateZ(-1deg);
			-webkit-transform: rotateZ(-1deg);
			top:-35px;
			right:-25px;
			background-image:url('../images/posters/01.jpg');
			@media (max-width:600px) {
				display:none;
			}

		}
		&.right {
			transform: rotateZ(2deg);
			-webkit-transform: rotateZ(2deg);
			top:0px;
			left:-40px;
			background-image:url('../images/posters/02.jpg');
			@media (max-width:600px) {
				display:none;
			}
		}
	}

	

	#couch {
		position:absolute;
		bottom:-50px;
		width:1419px;
		height:285px;
		z-index:18;
		background-image:url('../images/couch.png');
		left:50%;
		margin-left:-700px;
	}

	#remote {
		position:absolute;
		right:60px;
		top:50%;
		margin-top:-150px;
		background-image:url('../images/remote.png');
		width:150px;
		height:308px;
		z-index:17;
		@media (max-width:780px) {
			display:none;
		}
		.btn {
			&:hover {
				cursor:pointer;
				box-shadow:0px 0px 0px rgba(0,0,0,0);
			}
			cursor:pointer;
			position:absolute;
			width:25px;
			height:25px;
			background-color:transparent;
			box-shadow:2px 2px 2px rgba(0,0,0,0.5);
			transition:box-shadow .2s ease;
			&.down {
				top:140px;
				background-image:url('../images/remote-btn-down.png');
			}
			&.up {
				top:85px;
				background-image:url('../images/remote-btn-up.png');	
			}
			&.chan {
				left:38px;
			}
			&.vol {
				left:83px;
			}
		}
	}

	#footer {

		@media (min-width:401px) {
			width:591px;
			height:95px;
			margin-left:-300px;
			div {
				top:57%;
			}
		}

		@media (max-width:400px) {
			width:350px;
			height:56px;
			margin-left:-175px;
			div {
				top:68%;
				font-size:.6em;
			}
		}

		
		position:absolute;
		left:0;
		bottom:20px;
		left:50%;
		
		background-image:url('../images/footer.png');
		background-size:100%;
		z-index:19;
		font-family: 'Oswald', sans-serif;

		div {
			position:absolute;
			
			&#about {
				left:15%;
			}
			&#mail {
				left:30%;
			}
			&#v1 {
				left:45%;
			}
			&#pr {
				left:63%;
			}
			a {
				text-decoration:none;
				color:#444;
				text-transform:uppercase;
				transition:color .1s ease-in-out;
				text-shadow: 0 0 2px rgba(0,0,0,0.25);
				&:hover {
					color:#A58A50;
				}
			}
		}
	}



	#tv {
		
		position:absolute;
		width:25%;

		#time {
			width:6.9%;
			height:1.9%;
			background-size:100%;
			background-repeat:no-repeat;
			background-image:url('../images/time.png');
			position:absolute;
			z-index:21;
			left:54.5%;
			top:52%;
			transition:opacity 3s ease-in-out;
			animation: blink 3s steps(5, start) infinite;
  			-webkit-animation: blink normal 3s infinite;
		}

		.antenna {
			display:block;
			background-image:url('../images/antenna.png');
			width:292px;
			height:9px;
			position:absolute;
			z-index:4;

			&.left {
				left:44%;
				-webkit-transform-origin: 0% 50%;
				-webkit-transform: rotateZ(-135deg);
				transform: rotateZ(-135deg);
			}
			&.right {
				left:51%;
				-webkit-transform-origin: 0% 50%;
				-webkit-transform: rotateZ(-45deg);
				transform: rotateZ(-45deg);
			}
		}
		
		.facade {
			position:absolute;
			z-index:16;
			$w:100%;
			$mt:10%;
			$mh:28.15%;
			background-size:100%;

			&.top {
				top:0;
				left:0;
				width:$w;
				height:$mt;
				background-image:url('../images/tv-top.png');
			}

			&.left, &.right {
				top:$mt;
			}
			&.left {
				width:11%;
				height:$mh;
				background-image:url('../images/tv-left.png');
			}
			&.right {
				width:30.16%;
				right:0;
				height:$mh;
				background-image:url('../images/tv-right.png');
			}
			&.bottom {
				width:$w;
				height:61.36%;
				top:$mt + $mh;
				//bottom:0;
				background-image:url('../images/tv-bottom.png');
			}
		}
		


	
		#noise, #screen, #screenBg {
			position:absolute;
			left:8%;
			top:8%;
			width:64.8%;
			height:33.64%;
		}
		#screenBg {
			background-color:#000;
			z-index:1;
		}
		#noise {
			z-index:15;
			background-image:url('../images/noise.gif');

			background-position-x:90px;
			background-position-y:90px;
			transition:opacity .5s ease;
			opacity:0;
			visibility:hidden;
			&.visible {
				opacity:1;
			}
		}
		#screen {
			z-index:13;
		}
	}
}

