/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 48, spritesrc/*.png */
.spritesrc-sprite, .spritesrc-blank {
  background-image: url('/app/images/spritesrc-sa67edb64d3.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.spritesrc-blank {
  background-position: 0 0;
}

/* line 8, main.scss */
* {
  box-sizing: border-box;
}

/* line 12, main.scss */
html, body {
  background-color: #000;
  height: 100%;
}

/* line 17, main.scss */
.container {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.jpg");
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 26, main.scss */
.container:after {
  box-shadow: inset 0 0 10em 4em #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
}
/* line 37, main.scss */
.container #remote {
  position: absolute;
  right: 60px;
  top: 50%;
  margin-top: -170px;
  background-image: url("../images/remote.png");
  width: 150px;
  height: 308px;
  z-index: 3;
}
/* line 46, main.scss */
.container #remote .btn {
  cursor: pointer;
  position: absolute;
  width: 29px;
  height: 29px;
}
/* line 47, main.scss */
.container #remote .btn:hover {
  cursor: pointer;
}
/* line 55, main.scss */
.container #remote .btn.down {
  top: 140px;
  background-image: url("../images/remote-btn-down.png");
}
/* line 59, main.scss */
.container #remote .btn.up {
  top: 85px;
  background-image: url("../images/remote-btn-up.png");
}
/* line 63, main.scss */
.container #remote .btn.chan {
  left: 38px;
}
/* line 66, main.scss */
.container #remote .btn.vol {
  left: 83px;
}
/* line 73, main.scss */
.container #tv {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -332px;
}
/* line 80, main.scss */
.container #tv #facade {
  background-image: url("../images/tv.png");
  background-size: 100%;
  width: 664px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 90, main.scss */
.container #tv #screen {
  z-index: 0;
  position: absolute;
  left: 45px;
  top: 165px;
  width: 439px;
  height: 335px;
}

/*# sourceMappingURL=main.css.map */
